<!-- Describe task in general -->

<p style="text-align: justify;">
    John managed to get a great internet plan for his cell phone. The plan allows John to use a quota of up to X megabytes of data per month to surf the Internet. If John doesn't use all of his quota in a month, the unused megabytes are added to the next month's quota. According to the contract, John can never use more megabytes than his current quota.
</p>

<p style="text-align: justify;">
    In this problem, you are given the value of the monthly quota <code>X</code> and the number of megabytes that John used in each of the first N months of the plan. Your task is to determine how many megabytes John has left to use in month N+1.
</p>

<p style="text-align: justify;">
    For example, if X = 200 megabytes and John used 150 megabytes in the first month and 220 megabytes in the second month, then in the third month John has a quota of 230 megabytes (50 megabytes are carried over from the first to the second month, 30 megabytes are carried over from the second to the third month).
</p>   
    
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}internet-plan.svg" alt="example" style="max-height: 200px"/>
</p>


<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Integer <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span> and <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> of integers.
</p>

<p>
    <strong>Output:</strong> Integer <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

